[project]
	description = Interactive visualizations of time series using JavaScript and the HTML canvas tag. Issue tracker at http://code.google.com/p/dygraphs/issues/list
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dan Vanderkam (danvk)
[access "refs/for/refs/*"]
	read = group user/Dan Vanderkam (danvk)
	push = group user/Dan Vanderkam (danvk)
	label-Code-Review = -2..+2 group user/Dan Vanderkam (danvk)
	label-Verified = -1..+1 group user/Dan Vanderkam (danvk)
	rebase = group user/Dan Vanderkam (danvk)
	removeReviewer = group user/Dan Vanderkam (danvk)
	submit = group user/Dan Vanderkam (danvk)
[access "refs/heads/*"]
	read = group user/Dan Vanderkam (danvk)
	create = group user/Dan Vanderkam (danvk)
	push = +force group user/Dan Vanderkam (danvk)
	pushMerge = group user/Dan Vanderkam (danvk)
[access "refs/tags/*"]
	push = +force group user/Dan Vanderkam (danvk)
	pushTag = group user/Dan Vanderkam (danvk)
	pushSignedTag = group user/Dan Vanderkam (danvk)
