/**************************
****      GENERAL      ****
***************************/
body {
    font-size: 76%;
    color: #5C5D5F;
    margin: 0;
    font-family:  Verdana, Helvetica, sans-serif;
    background: url("../_img/bg_docheader.gif") repeat-x;
}

/* ---- TYPOGRAPHY ----------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #8ba726;
    font-family: Trebuchet MS, verdana, sans-serif;
}

h1 { font-size: 2em; margin-bottom: .5em; border-bottom: 1px dotted #aaaaaa; }

h1 em { color: #8ba726; font-style: normal; background: none; }

h1 a { color: #8ba726; }
h1 a:hover { background: none; border: none; color: #8ba726; }


h2 { font-size: 1.4em; margin-bottom: .3em; font-weight: normal;  }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; font-family:  Verdana, Helvetica, sans-serif; }

a { color: #8ba726; }
a:hover {
    text-decoration: none;
    background: #faffe9;
    padding: .1;
    border-bottom: 1px dotted #8ba726;
}
a.email {
    background: url(../../images/icon_email.gif) no-repeat left center;
    padding-left: 15px;
}
p a {  font-weight: bold; }
p { line-height: 1.5em; margin: 0em 0em 1em; color: #5C5D5F;  }
em { font-weight: bold; background-color: transparent; }

ul, ol { line-height: 1.5em; }
ul { list-style: none; margin: 0em 0em 1em 1.8em; padding: 0; }


dl {  }
dt { font-weight: bold; margin-bottom: .2em; color: #4B4545; }
dd { margin-left: 2em; margin-bottom: 2em; }
tt { font-size: 120%; }

strong { color: #4b81bc; font-weight: bold; }
.weak { font-size: .9em; font-weight: normal; }
.contextual { font-size: .9em; color: #888; }

div.document {
    margin: 0em 20px 1em;
    padding-top: 155px;
    background: url(../_img/g_logo_doc.gif) no-repeat 0px 34px;
    padding-left: 10px;
}
div.section { margin-bottom: 2em; }


a.footnote-reference {
    vertical-align: super;
    font-size: 50%;
    text-decoration: none;
}

pre.literal-block { 
    padding: 5px;
    font-size: 120%;
    color: #1C1D1F; 
    background: #f3f3f3;
    padding: 1em 2em;
    border-left: 3px solid #ccc;
}

ul.simple { list-style: none; margin: 0em 0em 1em 1.3em; padding: 0;  }
ul.simple li {
    background: url("../_img/g_bullet.gif") no-repeat left .5em;
    padding-left: 12px;
}

tt { color: #1C1D1F; }
table { border: 0px; }
table th { border: 0px; border-bottom: 1px solid #aaaaaa; }
table td { border: 0px; }
table th, table td { padding: 3px; }

.img { 
    letter-spacing: -1000em;
    text-indent : -999em;
    overflow: hidden;
    display: block;
    background-repeat: repeat;
    background-color: transparent;
    /* IE FLICKER FIX - no background position! */
}
/* Just for Opera, but hide from MacIE */
/*\*/html>body .img { letter-spacing : normal; text-indent : -999em; overflow : hidden;}
/* End of hack */


/* ---- GENERAL ELEMENTS ----------------*/

hr {
    border: none;
    border-bottom: 1px solid #aaa;
    background: none;
    height: 1px;
}
a img { border: none; text-decoration: none; }
.clear { clear: both; }
.invisible { display: none; }
